@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if(Model.Products.Count()==0){
    <p>Ürün Bulunamadı</p>
}
@foreach(var p in Model.Products)
{
    <div class="text-center">
        <h4 class ="display-4">@p.Name</h4>
        <p>@p.Description</p>
        <p>@p.Price</p>
    </div>
}
